*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background: #08020d;
  color: #fff;
  overflow-x: clip;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 38px;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 960px) {
  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 18px;
  }
}
.header {
  width: 100%;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.header__inner {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogo {
  display: flex;
  align-items: center;
}

.headerLogo__img {
  display: block;
  width: 24px;
  height: 24px;
  margin-right: 16px;
}

.headerLogo__text {
  text-transform: uppercase;
}

.headerList {
  display: flex;
}
.headerList .headerList__item {
  color: #cacaca;
}
.headerList .headerList__item + .headerList__item {
  margin-left: 24px;
}
.headerList .headerList__item.active {
  color: #fff;
}
.headerList .headerList__link {
  text-transform: uppercase;
}
.headerList .headerList__link:hover {
  text-decoration: underline;
}

.headerForm__input {
  display: inline-block;
  border-radius: 50px;
  padding: 5px 10px;
  background: #3C3B3D;
  border: none;
  color: #fff;
}
.headerForm__input::placeholder {
  text-transform: uppercase;
}

@media (max-width: 1240px) {
  .header__inner {
    width: auto;
    flex-direction: column;
    align-items: flex-start;
  }

  .headerList {
    flex-direction: column;
  }

  .headerList .headerList__item + .headerList__item {
    margin-left: 0;
  }

  .header__nav {
    margin-bottom: 18px;
  }

  .headerLogo {
    margin-bottom: 17px;
  }

  .headerForm {
    width: 100%;
    margin-bottom: 78px;
  }

  .headerForm__input {
    width: 100%;
  }
}
.firstScreen {
  padding: 200px 0;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
  text-align: center;
}

.firstScreen__subtitle {
  margin-bottom: 30px;
}

.firstScreenForm {
  max-width: 570px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.firstScreenForm__input {
  display: block;
  min-width: 270px;
  min-height: 50px;
  padding: 16px 20px;
  margin-bottom: 1.5rem;
  border: 2px solid #cacaca;
  border-radius: 3px;
  background-color: transparent;
}
.firstScreenForm__input::placeholder {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.firstScreenForm__btn {
  width: 100%;
  padding: 20px 30px;
  border-radius: 5px;
  background-color: #34C176;
  border: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
}

.firstScreen__formHeading {
  font-size: 16px;
  margin-bottom: 17px;
}

@media (max-width: 1240px) {
  .firstScreen {
    padding: 250px 0 200px;
  }

  .firstScreenForm {
    max-width: none;
  }

  .firstScreenForm__input {
    width: 100%;
  }
}
.pricing {
  padding-top: 100px;
}

.pricing__title {
  text-align: center;
  margin-bottom: 48px;
}

.pricing__block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.pricingItem {
  width: 33%;
  padding: 24px 27px 64px 1.5em;
  border-radius: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.pricingItem--free {
  background-image: url("../images/subscribe_1.png");
}
.pricingItem--standart {
  background-image: url("../images/subscribe_2.png");
}
.pricingItem--premium {
  background-image: url("../images/subscribe_3.png");
}
.pricingItem + .pricingItem {
  margin-left: 50px;
}
.pricingItem .pricingItem__title {
  margin-bottom: 200px;
  text-align: center;
}
.pricingItem .pricingItem__price {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 40px;
}
.pricingItem .pricingItemPrice__number {
  font-size: 64px;
  line-height: 1em;
  margin-right: 16px;
}
.pricingItem .pricingItemPrice__text {
  font-size: 32px;
  line-height: 1;
}
.pricingItem .pricingItem__link {
  display: inline-block;
  width: 100%;
  padding: 21px 0;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 5px;
  margin-bottom: 64px;
}
.pricingItem .pricingItem__desc {
  text-align: center;
  font-size: 13px;
}

.pricing__text {
  text-align: center;
  font-size: 16px;
}

@media (max-width: 1240px) {
  .pricing__block {
    flex-direction: column;
  }

  .pricingItem {
    width: 100%;
  }
  .pricingItem + .pricingItem {
    margin-top: 50px;
    margin-left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
