.firstScreen {
  padding: 200px 0;
  background-image: url('../images/banner.png');
  background-position: center;
  background-size: cover;
}
.firstScreenForm {
  max-width: 570px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.firstScreenForm__input {
  display: block;
  min-width: 270px;
  min-height: 50px;
  padding: 16px 20px;
  margin-bottom: 1.5rem;
  border: 2px solid $mainColor;
  border-radius: 3px;
}
.firstScreenForm__btn {
  width: 100%;
  padding: 20px 30px;
  border-radius: 5px;
}