.footer {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
.footer__top {
  padding: 3rem 0;
  border-bottom: 1px solid $mainColor;
}
.footer__main {
  display: flex;
  justify-content: space-between;
}
.footerColumn__title {
  font-size: 18px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  margin-bottom: 15px;
}
.footerColumn__block {
  display: flex;
  flex-direction: column;
  &--social {
    display: flex;
    flex-direction: row;
    align-items: center;
    a {
      & + a {
        margin-left: 24px;
      }
    }
  }
}
.footerColumn__link {
  font-size: 16px;
}
.footerBottom {
  padding: 2rem 0;
}
.footerBottomList {
  display: flex;
}
.footerBottomList__item + .footerBottomList__item {
  margin-left: 16px;
}

@media (max-width: 1240px) {
  .footer__main {
    flex-direction: column;
  }
  .footerBottomList {
    flex-direction: column;
  }
  .footerColumn {
    margin-bottom: 30px;
  }
}
.footerBottomList__item + .footerBottomList__item {
  margin-left: 0;
  margin-top: 16px;
}