.pricing {
  padding-top: 100px;
}
.pricing__title {
  text-align: center;
  margin-bottom: 48px;
}
.pricing__block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.pricingItem {
  width: 33%;
  padding: 24px 27px 64px 1.5em;
  border-radius: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &--free {
    background-image: url('../images/subscribe_1.png');
  }
  &--standart {
    background-image: url('../images/subscribe_2.png');
  }
  &--premium {
    background-image: url('../images/subscribe_3.png');
  }
  & + .pricingItem {
    margin-left: 50px;
  }
  .pricingItem__title {
    margin-bottom: 200px;
    text-align: center;
  }
  .pricingItem__price {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 40px;
  }
  .pricingItemPrice__number {
    font-size: 64px;
    line-height: 1em;
    margin-right: 16px;
  }
  .pricingItemPrice__text {
    font-size: 32px;
    line-height: 1;
  }
  .pricingItem__link {
    display: inline-block;
    width: 100%;
    padding: 21px 0;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-bottom: 64px;
  }
  .pricingItem__desc {
    text-align: center;
    font-size: 13px;
  }
}
.pricing__text {
  text-align: center;
  font-size: 16px;
}

@media (max-width: 1240px) {
  .pricing__block {
    flex-direction: column;
  }
  .pricingItem {
    width: 100%;
    & + .pricingItem {
      margin-top: 50px;
      margin-left: 0;
    }
  }
}